.pie-chart-card-row {
    height: 100%;
}
.card-body {
    height: 80%;
}
.progress-bar {
    width: 100%;
}
.progress {
    width: 50%;
    height: 8%;
}

// .chart {
//     width: 420px !important;
//     height: 220px !important;
// }
  