<div class="card text-left row pie-chart-card-row border-primary">
    <h5 class="card-header bg-primary text-white">Developers Contribution</h5>
    <div class="card-body row justify-content-center align-items-top" *ngIf="showPieChart">
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
            [legend]="chartOptions.legend">
        </apx-chart>
    </div>
    <div class="card-body row justify-content-center align-items-center" *ngIf="!showPieChart">
        <div class="progress row justify-content-center" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100">Please set developer as active...</div>
        </div>
    </div>
</div>