    <div class="card search-bar-card row">
        <div class="card-body row">
            <form class="form-inline container-fluid">
                <div class="col-5 form-group">
                    <input placeholder="Enter GitHub Username" type="text" class="form-control col-12" name="gitUsername" id="username" [(ngModel)]="gitUsername">
                </div>
                <div class="col-5 form-group">
                    <input placeholder="Enter Repository Name" type="text" class="form-control col-12" name="gitUsername" id="repository" [(ngModel)]="gitRepository">
                </div>
                <div class="col-2 submit">
                    <button type="submit" class="btn btn-primary col-12" (click)="onSubmit()" [disabled]="gitUsername.trim() === '' || gitRepository.trim() === ''"> Check </button>
                </div>
            </form>
        </div>
    </div>
    <div class="progress row" *ngIf="showProgress | async">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100">Loading...</div>
    </div>
