.root-container {
    height: 100vh;
  }
  .container-fluid {
    height: 90%;
  }
  .search-bar-row {
    height: 40%;
  }
  .panels-row {
    height: 60%;
  }
  .search-bar-root-col {
    height: 40%;
  }
  .panel-placeholder {
    height: 100%;
  }